* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/photo_2025-01-11_21-53-01.jpg') no-repeat center center / cover;
  filter: blur(6px);
}

.container img {
  width: 250px;
  user-select:none;
}

.image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: showImage 6s infinite ease-in-out;
}

.image-box:nth-child(2) {
  animation-delay: 2s;
}
.image-box:nth-child(3) {
  animation-delay: 4s;
}

.smoke img {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.left-right {
  animation: animate 2s infinite ease-in-out;
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  10% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 0;
    transform: scale(1.2) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
